@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'arabic';
  src: url(/UthmanicHafs1Ver09.otf);
}

.arabic {
  font-family: 'arabic';
}

html {
  @apply font-sans;
}

.tup {
  @apply py-10;
}

.max-w-8xl {
  max-width: 90rem;
}

::-webkit-scrollbar {
  height: 0.375rem;
  width: 0.375rem;
  background-color: rgb(241 245 249/1);
}
@layer utilities {
  ::-webkit-scrollbar {
    @apply dark:bg-slate-900;
  }
  ::-webkit-scrollbar-thumb {
    @apply dark:bg-slate-800;
  }
}

::-webkit-scrollbar-thumb {
  background-color: rgb(203 213 225/1);
  border-radius: 0.25rem;
}
